{% assign contents =  Content["alias:default"].Content %}
{% assign menus =  Content["alias:main-menu"].Content.MenuItemsListPart.MenuItems%}
    <footer class="ftco-footer ftco-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">About</h2>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-4">
              <h2 class="ftco-heading-2">Links</h2>
              <ul class="list-unstyled">
                {% for item in menus limit:5 %}
                <li><a href="{{ item.LinkMenuItemPart.Url | href}}"><span class="icon-long-arrow-right mr-2"></span>{{ item.LinkMenuItemPart.Name }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="col-md">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Services</h2>
              <ul class="list-unstyled">
                {% for service in contents.Services.ContentItems %}
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>{{ service.DisplayText }} </a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">Have a Questions?</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon icon-map-marker"></span><span class="text">{{ contents.About.Address.Text }}</span></li>
	                <li><a href="tel:{{contents.About.Phone.Text}}"><span class="icon icon-phone"></span><span class="text">{{ contents.About.Phone.Text }}</span></a></li>
	                <li><a href="mailto:{{contents.About.Email.Text}}"><span class="icon icon-envelope"></span><span class="text">{{ contents.About.Email.Text }}</span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </div>
    </footer>