<section class="ftco-about img ftco-section ftco-no-pt ftco-no-pb" id="about-section">
  <div class="container">
    <div class="row d-flex no-gutters">
      <div class="col-md-6 col-lg-6 d-flex">
        <div class="img-about img d-flex align-items-stretch">
          <div class="overlay"></div>
          <div class="img d-flex align-self-stretch align-items-center" style="background-image:url({{Model.ContentItem.Content.About.PortfolioImage.Paths.first | asset_url}});">
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 pl-md-5 py-5">
        <div class="row justify-content-start pb-3">
          <div class="col-md-12 heading-section ftco-animate">
            <h1 class="big">About</h1>
            <h2 class="mb-4">About Me</h2>

            <p>{{Model.ContentItem.Content.About.Description.Text}}</p>
            <ul class="about-info mt-4 px-md-0 px-2">
              <li class="d-flex">
                <span>Name:</span>
                <span>{{ Site.Properties.Portfolio.Portfolio.Owner.Text}}</span>
              </li>
              <li class="d-flex">
                <span>Date of birth:</span>
                <span>{{Model.ContentItem.Content.About.DOB.Value | date: "%B %d, %Y"}}</span>
              </li>
              <li class="d-flex">
                <span>Address:</span>
                <span>{{Model.ContentItem.Content.About.Address.Text}}</span>
              </li>
              <li class="d-flex">
                <span>Zip code:</span>
                <span>{{Model.ContentItem.Content.About.Zipcode.Text}}</span>
              </li>
              <li class="d-flex">
                <span>Email:</span>
                <span>{{Model.ContentItem.Content.About.Email.Text}}</span>
              </li>
              <li class="d-flex">
                <span>Phone: </span>
                <span>{{Model.ContentItem.Content.About.Phone.Text}}</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="counter-wrap ftco-animate d-flex mt-md-3">
          <div class="text">
            <!--<p class="mb-4">
              <span class="number" data-number="120">0</span>
              <span>Project complete</span>
            </p>-->
            <p>
              <a href="#" target="_blank" class="btn btn-primary py-3 px-3">Download CV</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-partner">
  <div class="container">
    <div class="row">
      <div class="col-sm ftco-animate">
        <a href="#" class="partner">
          <img src="/TheRonaldoTheme/images/partner-1.png" class="img-fluid" alt="Colorlib Template">
        </a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner">
          <img src="/TheRonaldoTheme/images/partner-2.png" class="img-fluid" alt="Colorlib Template">
        </a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner">
          <img src="/TheRonaldoTheme/images/partner-3.png" class="img-fluid" alt="Colorlib Template">
        </a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner">
          <img src="/TheRonaldoTheme/images/partner-4.png" class="img-fluid" alt="Colorlib Template">
        </a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner">
          <img src="/TheRonaldoTheme/images/partner-5.png" class="img-fluid" alt="Colorlib Template">
        </a>
      </div>
    </div>
  </div>
</section>
